
 .fa {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #8a3ab9;
    color: white;
} 
.fa-linkedin {
    background: #55ACEE;
    color: white;
} 


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkolivegreen;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: gray;
}

.blok1 {
    background: #d3d3d3;
    height: 500px;
    margin: 0 auto;
}

.blok1_tekst{
    padding-top: 2%;
    padding-left: 2.5%;
    float: left;
}

.blok1 img {
    float: left;
    margin: 0 auto;
}
.blok1 p {
    line-height: 0.1;
}

.blok2 {
    background: #ffff;
    height: 500px;
    margin: 0 auto;
}

.blok2 p {
    line-height: 0.1;
}

.blok2_tekst{
    padding-top: 2%;
    padding-left: 2.5%;
    float: left;
}

.blok2 img {
    float: right;
    margin: 0 auto;
}


html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
 
 body {
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  body:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: -1;
  }




  .container {
    max-width: 80%;
    margin: 100px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    -webkit-box-shadow: -5px 7px 32px -7px rgba(0,0,0,0.58);
    -moz-box-shadow: -5px 7px 32px -7px rgba(0,0,0,0.58);
    box-shadow: -5px 7px 32px -7px rgba(0,0,0,0.58);
  }
  

.over img {
    float: left;
    margin: 0 auto;
}

.over {
    line-height: 2;
}
.gallery {
    background-color: white;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}


.responsive {
    margin: 0 auto;
    float: left;
    width: 25%;
    padding-left: 77px;
    padding-top: 60px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
  

.back-to-top {
    display:none;
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: white;
    background-color: darkolivegreen;
    font-size: 20px;
    padding: 1em;
    border-radius: 40%;
    margin-right: 35px;
 }
 
 .back-to-top:hover {   
    background-color: gray;
    text-decoration:none;
    color:#ffffff;
 }
  
 .row {
     width: 440%;;
 }
 .skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar {
    height: 5px;
    width: 0px;
    background: darkolivegreen;
}

.skillbar-bar:hover {
    background: gray;
}

.skillbar-title {
    font-weight: 600;
    line-height: 1;
    display: inline-block;
}

.skill-bar-percent {
    float: right;
    display: inline-block;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.portcontainer {
    position: relative;
    float: left;
    margin-right: 20px;
  }
  
  .image {
    display: block;
    height: 300px;
  }
  
  .overlay {
    position: absolute;  
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 86.5%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .portcontainer:hover .overlay {
    opacity: 1;
  }
  